@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topnav-height: "65px";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  overflow: hidden;
} */

.MainContainer {
  scrollbar-width: 5px;
  scrollbar-color: transparent transparent;
}
.MainContainer::-webkit-scrollbar {
  width: 5px;
  border-radius: 28px;
}
.MainContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.HeroBg {
  background-color: #b0d3ff;
  background-image: url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  border-radius: 12px;
  overflow: hidden;
}

/* Control SideNav on smallscreens */
.ShrinkOnSmallScreen {
  max-width: 0px !important;
}
.ExpandOnSmallScreen {
  min-width: 210px !important;
  max-width: 210px !important;
}
