@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topnav-height: '65px'
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  overflow: hidden;
} */

main {
  /* overflow-y: scroll !important; */
  /* height: 100vh; */
  margin-top: calc(65px /* topnav-height */ + 0px );
  padding: 40px;
}

.HeroBg {
  background-color: #B0D3FF;
  background-image: url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}
